@font-face {
    font-family: HelveticaBold; /* Имя шрифта */
    src: url(fonts/HelveticaNeueLTPro-Bd.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaLt; /* Имя шрифта */
    src: url(fonts/HelveticaNeueLTPro-Lt.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MyriadPro; /* Имя шрифта */
    src: url(fonts/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
}
body {
    margin: -20px 120px 0 120px;
    font-family: Tahoma;
}
.home {
    display: none;
}
span {
    font-family: HelveticaBold;
    margin-left: 5px;
}
strong {
    color: #80a60f;
    font-weight: 400;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: #9fc23d;
}
h1.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 300px;
    font-size: 42px;
    font-family: HelveticaLt;
    font-weight: lighter;
    line-height: 16px;
    color: white;
}
.menu {
    height: 100px;
}
.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}
.menu li {
    position: relative;
    padding: 33px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top:37px;
    left: -50px;
    background-image: url(img/arrow.png);
}
.menu li:first-child:after {
    content: '';
    position: absolute;
    visibility: hidden ;
}
.menu ul li a {
    outline: none;
    text-decoration: none;
    color: #093500;
    font-size: 27px;
    font-weight: 400;
    line-height: 16px;
}
.main-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 270px;
    background-color: #eceffa;
}
.main-img {
    display: block;
    width: 40%;
    padding: 0 0 0 45px;
}
.my-images {
    height: 100%;
}
h1.title {
    margin: 40px 0 40px -80px;
    font-weight: lighter;
}
.title-text {
    padding: 0 0 0 40px;
}
.main-content {
    width: 60%;
}
.main-title{
    color: #093500;
    font-size: 32px;
    font-weight: 400;
    line-height: 16px;
}
.main-text {
    width: 50%;
    padding:0 0 0 90px;
}
.info-container {
    display: flex;
    width: 100%;
    height: 340px;
}
.my-container {
    width: 40%;
    padding: 0 70px 0 70px;
}
.box-section {
    width: 60%;
    padding: 0 25px 0 25px;
}
.images {
    width: 190px;
    height: 150px;
}
.text-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-title {
    font-size: 30px;
    font-weight: 400;
    color: #093500;
    font-family: MyriadPro;
}
.box-title a {
    color: #093500;
    text-decoration: none;
}
.box-title a:hover {
    color: #9fc23d;
}
hr {
    border: 0;
    border-bottom: 5px solid #eeeefa;
    margin: 40px;
}
hr.line-vertical {
    border: 0;
    border-right: 1px solid #eeeefa;
    margin: 15px;
}
hr.line-bottom {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eeeefa;
}
footer {
    display: block;
    width: 100%;
}
.footer-container {
    padding: 0 70px 0 70px;
}


@media (max-width: 1200px) {
    body {
        margin: 0 80px 0 80px;
    }
    .box-header {
        height: 100px;
    }
    h1.logo {
        margin-top: 30px;
    }
    p.text {
        font-size: 14px;
    }
    .my-container {
        padding: 0 50px 0 50px;
    }
    .menu ul {
        margin: 0;
        height: 90px;
    }
    menu li {
        padding: 0;
    }
    .menu li:after {
        left: -22px;
    }
    .menu ul li a {
        font-size: 27px;
    }
    .info-container {
        height: 400px;
    }
    .box-section {
        padding: 0;
    }
}

@media (max-width: 980px) {
    body {
        margin: 0 70px 0 70px;
    }
    .box-header {
        height: 90px;
    }
    .menu {
        height: 80px;
    }
    .menu ul {
        margin: 0;
        height: 80px;
    }
    .menu li:after {
        left: -8px;
    }
    .menu ul li a {
        font-size: 20px;
    }
    .info-container {
        height: 350px;
    }
    .main-img {
        padding-left: 20px;
    }
    .main-title {
        font-size: 30px;
    }
    p.text {
        font-size: 13px;
        padding-left: 5px;
    }
    .my-container {
        padding: 0 15px 0 15px;
    }
    h2.box-title {
        padding-left: 5px;
        margin: 13px 0 13px 0;
    }
    .box-section {
        padding-top: 15px;
    }
}

@media (max-width:750px) {
    body {
        margin: 0 40px 0 40px;
    }
    h1.logo {
        font-size: 32px;
    }
    nav.menu {
        padding: 0;
    }
    p.text {
        padding-left: 5px;
        font-size: 11px;
    }
    .menu li {
        padding: 20px 22px;
    }
    .menu li:after {
        top:23px;
        left: -15px;
    }
    .menu ul li a {
        font-size: 20px;
    }
    .main-container {
        height: 210px;
    }
    .main-img {
        padding: 0 0 0 10px;
    }
    .main-title {
        font-size: 20px;
    }
    h1.title {
        margin: 20px 0 20px -30px;
    }
    .title-text {
        padding: 15px 0 0 25px;
    }
    .text {
        font-size: 10px;
        margin-top: -10px;
    }
    .info-container {
        height: 290px;
        margin: 0;
    }
    .my-container {
        padding: 0 5px 0 5px;
        margin: 15px 0 35px 0;
    }
    .text-container {
        margin: 5px 0 5px 0;
    }
    .box-section {
        padding: 0 5px 0 5px;
        margin: 15px 0 35px 0;
    }
    .box-title {
        font-size: 20px;
        padding-left: 10px;
    }
    .images {
        width: 141px;
        height: 94px;
    }
    hr.line-vertical {
        margin-top: 40px;
        height: 200px;
    }
    hr {
        margin: 0;
    }
}

@media (max-width:530px) {
    body {
        margin: 0 20px 0 20px;
    }
    .box-header {
        height: 80px;
    }
    nav.menu {
        height: 70px;
        padding: 0;
    }
    .menu li:after {
        top:22px;
        left: -10px;
    }
    .menu ul li a {
        font-size: 13px;
    }
    .main-img {
        padding: 0;
    }
    .title-text {
        padding: 0;
    }
    .my-container {
        width: 30%;
        padding: 0;
        margin-top: 15px;
    }
    .box-section {
        width: 70%;
        padding-top: 15px;
        margin: 0;
    }
    .box-title {
        font-size: 20px;
        padding-left: 10px;
    }
    p.text {
        padding-left: 5px;
        font-size: 9px;
    }
}

@media (max-width:375px) {
    body {
        margin: 0 20px 0 20px;
    }
    h1.logo {
        font-size: 29px;
    }
    nav.menu {
        height: 39px;
    }
    h1.title {
        font-size: 23px;
        margin-left: 60px;
    }
    h2.box-title {
        text-align: center;
        margin: 5px 0 5px 0;
    }
    p.text {
        font-size: 9px;
        text-align: center;
    }
    .box-header {
        height: 60px;
    }
    .home {
        display: inline-block;
        padding: 4px;
        border: none;
        font-size: 20px;
        color: white;
        background-color: #a2c73f;
    }
    .home-content a {
        display: block;
        padding: 12px 16px;
        color: black;
        text-decoration: none;
    }
    .home-content {
        position: absolute;
        display: none;
        z-index: 1;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .home-content a:hover {
        background-color: #f1f1f1;
    }
    .home:hover .home-content {
        display: block;
    }
    .home:hover .home {
        background-color: #80a60f;
    }
    .menu ul li a {
        display: none;
    }
    .menu li:after {
        background-image: none;
    }
    .main-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 285px;
    }
    .main-img {
        height: 160px;
        padding: 0;
        margin-left: -100px;
    }
    .main-content {
        text-align: left;
        width: 100%;
    }
    .my-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .info-container {
        margin: 0;
        height: 510px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .text-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .box-section {
        padding: 0;
    }
    hr.line-vertical {
        display: none;
    }
    .footer-container p {
        font-size: 10px;
    }
}
